
.bottom-all-rides {
    height: 40vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}



/* .top-all-rides {
    display: grid;
    grid-gap: 30px;
    padding: 30px;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(200px,1fr);
    overflow-x: auto;
    background-color: #E5E4D9;
    height: 40vh;
    width:110vw;    
} */

.top-all-rides {
    align-items: center;
    display: flex;
    overflow-x: scroll;
    background-color: #E5E4D9;
    height: 40vh;
    width: auto;    

}

.total-points {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 200px;
    background-color: #E5E4D9;
    padding-top: 24px;
    border-radius: 1em;
}