@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

.App {
  text-align: center;
  font-family: 'Joan', serif;
  height: 100%;
}

.homepage-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.homepage-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vw;
}

.links {
  background-color: #E5E4D9;
}


